@use "../scss/_utility.scss" as *;

@keyframes bounce {
   from,
   to {
      transform: scale(1, 1);
   }
   25% {
      transform: scale(0.9, 1.1);
   }
   50% {
      transform: scale(1.1, 0.9);
   }
   75% {
      transform: scale(0.95, 1.05);
   }
}

.animate {
   animation: bounce 0.2s ease;
}

.boardContainer {
   width: 33rem;

   @media screen and (max-width: 500px) {
      width: 100%;
      min-width: 22rem;
   }
}

.board {
   @include grid(3, 3);
   gap: 1.15rem 1.45rem;
   width: 100%;

   .cell {
      @include flex;
      background-color: var(--semi-dark-navy);
      border-radius: 1.07143rem;
      height: 10rem;
      box-shadow: 0px -8px 0px 0px #10212a inset;
      cursor: pointer;
      transition: transform 0.1s ease-in;

      &:hover {
         transform: scale(1.025);
      }
   }

   @media screen and (max-width: 500px) {
      gap: 1.4rem;

      .cell {
         height: 6.6rem;

         svg {
            width: 32px;
            height: 32px;
         }
      }
   }
}

.header {
   @include grid(3);
   gap: 0 1.45rem;
   margin-bottom: 1.45rem;

   .logo,
   .retry,
   .turn {
      align-self: center;
   }

   .retry {
      justify-self: end;
   }

   .turn {
      @include flex;
      background-color: var(--semi-dark-navy);
      height: 3rem;
      padding: 2.15rem;
      border-radius: 0.71429rem;
      box-shadow: 0px -4px 0px 0px #10212a inset;
      gap: 1rem;
      text-transform: uppercase;

      svg {
         width: 1.42857rem;
      }
   }

   @media screen and (max-width: 500px) {
      .turn {
         width: 8rem;
         padding: .9rem 0;

         svg {
            width: 1.2rem;
         }
      }
   }
}

.scoreBoard {
   @include grid(3);
   gap: 0 1.45rem;
   margin-top: 1.45rem;
   color: var(--dark-navy);

   > div {
      @include flex(column);
      border-radius: 1.08rem;
      flex: 1;
      padding: 0.93rem;
   }

   > div p {
      color: var(--dark-navy);
      text-align: center;
      text-transform: uppercase;
   }

   .xWin {
      background-color: var(--blue-green);
   }

   .oWin {
      background-color: var(--yellow);
   }

   .ties {
      background-color: var(--silver);
   }
}
