@use "../scss/_utility.scss" as *;

@keyframes slideDown {
   0% {
      top: 0%;
      opacity: 0;
   }
   75% {
      top: 55%;
      opacity: 1;
   }
   85% {
      top: 48%; 
   }
   95% {
      top: 52%; 
   }
   100% {
      top: 50%; 
   }
}

.dialog {
   @include flex(column);
   width: 100vw;
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: var(--semi-dark-navy);
   transform: translate(-50%, -50%);
   padding: 3.25rem 0;
   z-index: 100;
   animation: slideDown 0.3s ease;
}

.winner,
.buttons {
   @include flex;
}

.message,
.winner {
   text-transform: uppercase;
   text-align: center;
}

.winner {
   margin-top: 1.65rem;
   gap: 1.75rem;
}

.buttons {
   margin-top: 2.25rem;
   gap: 1.15rem;
}
