@use "../scss/_utility.scss" as *;

.retry {
   @include flex;
   padding: 1.1rem;
   border-radius: 1.07143rem;
   background-color: var(--silver);
   color: var(--dark-navy);
   cursor: pointer;
   box-shadow: 0px -4px 0px 0px #6b8997 inset;

   &:hover {
      transform: scale(1.025);
      background-color: var(--soft-silver);

      svg {
         transition: transform 0.2s ease; 
         transform: rotate(180deg);
      }

   }

   &:active {
      transform: scale(0.99);
   }
}
